    <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content saveUser">
            <div class="rounded-circle imgModal border border1 ">
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body login-body mb-4">
                <div class="row d-flex flex-column align-items-center justify-content-center">
                    <div class="col-sm-6 d-flex flex-column align-items-center justify-content-center">
                        <span class="text-black d-lg-inline text-center">Êtes-vous sûr de vos 
                        modifications ?</span>

                        <span class="mt-2 text-black d-lg-inline text-center">Vous allez changer
                        le rôle vers ADMIN</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer addUser">
                <button type="button" class="row col-6 oui d-flex justify-content-center" id="oui">Oui</button>
                <div class="diviser-col"></div>
                <button type="button" class="row col-6 non d-flex justify-content-center" data-dismiss="modal" id="non">Non</button>
            </div>
        </div>
    </div>