<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>

<script>

$(document).ready(function() {

String.prototype.rtrim = function() {
    return this.replace(/\s+$/, "");
}
    // fonction pour la verification de la valeur input
    function inputUsername(inputData,input){
    let usernameData = inputData.rtrim();
    let usernameInput = input;

    if(usernameData.length < 1){
        usernameInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Le nom d\'utilisateur doit être de 3 caractères minimum et ne peux pas contenir d\'espace</div>');   
        
    }else{
        if(usernameData > 10) {
            usernameInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Le nom d\'utilisateur doit être  moins de 10 caractères</div>');
        }
         return usernameData;
           
    }
}//  verify username


    const token = localStorage.getItem("token");
    const userId = localStorage.getItem("idForUser");

    const reset = () => {
        $(".btn_submit").attr("disabled", false);
        $(".btn_submit").css("background-color", "#EF0051");
        $(".btn_submit").hover(() => { $(".btn_submit").css("background-color", "#D31052") })
    };

    const disable = () => {
        $(".btn_submit").attr("disabled", true);
        $(".btn_submit").css("background-color", "gray");
    }

    /*
    *recuperer l'utilisateur 
    */

    if(token !== ""){

        $.ajax({
                type: "GET", 
                url: "https://webradio-stream.herokuapp.com/authorized/user/"+userId, 
                headers: {
                    'Authorization':'Bearer ' + token
                }
            }).done((response)=>{

                if(response != undefined)
                {
                    $('#username').attr('value', response.user[0].username);
                    $('#sel1 :selected').val(response.user[0].role);
                    console.log(response.user[0].role);
                }
                console.log(response);

            }).fail((error)=>{

                console.log(error);

            });
    


    let firebaseConfig;
    let downloadUrl;

    $.ajax({
    method: "GET", 
    url: "/firebase", 
    })
    .done(function(data) {

        firebaseConfig = {
            apiKey: data.apiKey,
            authDomain: data.authDomain,
            databaseURL: data.databaseURL,
            projectId: data.projectId,
            storageBucket: data.storageBucket
        };


        firebase.initializeApp(firebaseConfig);

        // On détecte le changement de fichier
        $('#cameraInput').on('change', function() {
            // On récupère le nouveau fichier
            let selectedFile = event.target.files[0];

        
            let filename = $('#cameraInput').val().replace(/C:\\fakepath\\/i, '');
            let storageRef = firebase.storage().ref('/User/'+userId+ filename);

            // On envoi le fichier à Firebase
            let upload = storageRef.put(selectedFile);

            // Le traitement Firebase se fait ici
            upload.on('state_changed', function(snapshot) {

            }, function(error) {
                // Si Firebase renvoi une error on l'a met ici
                console.log(error)
            }, function() {
                // On récupère l'URL téléchargeable
                downloadUrl = upload.snapshot.downloadURL;
                // On l'affiche
                 console.log(downloadUrl);
            
                // On remplace l'URL de l'image par la nouvelle
                    $('#profil').attr('src', downloadUrl);
                    $('#logo-setting').attr('src', downloadUrl)      

            }) 
        });// call

        //evennement qui se declanche lorqu'on clique sur enregistrer
        $('#enregister').click(function(e){
            e.preventDefault();
            disable();

                let profil = $('#profil').attr('src');
                
                let username = $('#username').val();
                let inpUser = $('#username');

                let role = $('#sel1').val();

                let dataUsername = inputUsername(username,inpUser);
                
                
            //envoi de la mise a jour de l'utilisateur
            $.ajax({
                type: "PUT", 
                url: "https://webradio-stream.herokuapp.com/authorized/users/"+userId, 
                headers: {
                    'Authorization':'Bearer ' + token
                },
                data: {
                    avatar: profil,
                    username: dataUsername,
                    role: role
                    
                },
            }).done((response)=>{
                reset();

                if(response.message != undefined)
                {
                    $('#updatecompte').html(response.message);
                    $('#updatecompte').css("display","block");
                    

                    console.log(response.message);
                }
                console.log(response);

            }).fail((error)=>{
                reset();

                console.log(error);

            });//fin

        }); //onclick

        }).fail((error)=>{

            console.log(error);

        });

    }

    });

</script>