<div class="modal fade" id="passwordLostModal" role="dialog">
    <div class="modal-dialog passwordLost">
        <div class="modal-content">
            <div class="rounded-circle imgModal border border1">
            </div>
            <div class="modal-body passwordLost-body d-flex flex-column align-items-center justify-content-center">
                <div class="row col-sm form-group champ-password">
                    <input type="email" class=" form-control password-input" placeholder="Email">    
                </div>  
                <div class="row col-sm justify-content-center">
                    <button id="passwordLost" data-target="" data-toggle="modal" class="btn bouton-password"><i class="fas fa-arrow-right "></i></button>
                </div>  
            </div><!--modal-body-->
        <div>
    </div>
</div>
<!--modal2-->
