<!-- Topbar -->
<nav id="img-logo" class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">

    <!-- Topbar Navbar -->
    <ul class="navbar-nav">

        <!-- Nav Item - User Information -->
        <li>
            <a href="#loginModal" data-toggle='modal' id="text-nav">
                <span class="text-dark small" id="login1">Se connecter</span>
            </a>
        </li>

    </ul>
    
    

</nav>