<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="rounded-circle imgModal border border1">
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body check-body">
                <div class="row d-flex flex-column align-items-center justify-content-center mb-2">
                    <p class="text-black d-lg-inline text-center">Regardez votre boîte mail pour</p>
                    <p class="text-black d-lg-inline text-center">créer un nouveau mot de passe</p>
                </div>
                <div class="row d-flex flex-column align-items-center justify-content-center">
                    <div class="rounded-circle check border border1"></div>
                </div>
            </div>
        </div>
    </div>