<!DOCTYPE html>
<html lang="en">
     {% include 'admin/head.html.twig' %}
<body id="page-top" style="background-color:#000;">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <div class="row" style="width:100%;position: absolute;top: 310px;">
            <div class="col-xl-12 d-flex align-items-center justify-content-center">
                <audio id="track" src="http://basichow.com/asserts/interlude.mp3" controls />
                    ça ne marche pas 
                </audio>
            </div>
        </div>

    </div>    
</body>
</html>