<!DOCTYPE html>
<html lang="en">
    {% include 'Users/head.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
  {% include 'Users/Banni/sidebar.html.twig' %}
      <!-- Main Content -->
    <div id="content">
        {% include 'Users/navigation.html.twig' %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <di class="row mt-5 d-flex flex-column align-items-center justify-content-center">
                <di class=" col-sm-12">
                    <p class='text-black text-center' id="paraph1"></p><br>
                    <p class='text-black text-center' id="paraph2"></p><br>
                    <p class='text-black text-center' id="paraph3"></p>
                </div>
            </div>    
        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% include 'Users/Banni/script.html.twig' %}

</body>

</html>
            
        