<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>

<script>
 console.log("je suis ici banni");

$(document).ready(function() {
   
   $.ajax({
        method: "GET",
        url:"/profile/radios",
        async: true,
        success: function(data) {
            listradio = data[0];

            console.log(listradio.radios[0].nom)

            let mytab = $("#list-radio");
            for(i=0; i<listradio.radios.length; i++)
            {
                mytab += "<tr><td><img class='img-radio' src='../../"+listradio.radios[i].avatar+"'</td><td>" +listradio.radios[i].nom+ "</td><td><audio class='myaudio' id='track'><source src='"
                +listradio.radios[i].url+"' type='audio/mp3' />Rien</audio><div id='player-container'><div id='play-pause' class='play'>Play</div></div></td></tr>";    
            }
             $("#list-radio").append(mytab);
            

            let track =  document.getElementById("track");
            function playPause () {
                if(track.paused) {

                    track.play();
                    $("#play-pause").addClass('pause');
                }else {
                    track.pause();
                    $("#play-pause").removeClass('pause');
                     console.log('ici');
                }
            }

            $('#play-pause').click(function() {
                playPause();
            });
        }
    });

    $('#paraph1').html("Nos administrateurs ont reçu un total de 758 signalements sur votre chaîne pour le(s) motif(s) suivants :<br> Vocabulaire antisémite ou apologie au terrorisme<br> Vocabulaire abusif");
    $('#paraph2').html("Ces signalements ont étés fait vis à vis de ce(s) stream(s) que vous pouvez réécouter :<br> <a href='#'>www.fluxradiodemike7.webradiostream.com</a> réalisé le : 01/01/2020<br> <a href='#'>www.fluxradiodemike6.webradiostream.com</a> réalisé le : 25/12/2019");
    $('#paraph3').html("Cette sanction est irrévocable et il n’est pas possible de ne plus être banni.<br> Si vous souhaitez contester ce bannissement, vous pouvez contacter notre service client à l’adresse email suivante :<br>mike.sylvestre@lyknowledge.io");

}); 

 </script>
