    <script type="javascript">
        window.onload = load;
    </script>
    <div class="modal fade" id="bannirModal" role="dialog">
    <div class="modal-dialog remove">
        <div class="modal-content removeUser">
            <div class="rounded-circle imgModalRemove border border1 ">
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body login-body mb-4">
                <div class="row d-flex flex-column align-items-center justify-content-center">

                    <div class="row col-xl-12 alert alert-success"  style="display: none; font-size: 0.7em; width: 200px;" id="messageSucces" role="alert"></div>

                    <div class="col-sm-6 d-flex flex-column align-items-center justify-content-center">
                        <p class="mt-2 text-black d-lg-inline text-center" style="width: 200px; font-size: 1.1rem">Êtes-vous sûr de vouloir
                        bannir cette chaine ?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="row col-6 oui d-flex justify-content-center" id="deleteChannel">
                    Oui
                 </button>
                <div class="diviser-col"></div>
                <button type="button" class="row col-6 non d-flex justify-content-center" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
